.header {
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding: 300px 0 100px;
    height: 630px;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}