<nav class="navbar navbar-toggleable-md sticky-top navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">Prosoftdeveloper</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item" *ngFor="let link of links" [ngClass]="link.children != null ? 'dropdown' : '' ">
        <a class="nav-link {{ link.classes }}" 
          [ngClass]="link.children != null ? 'dropdown-toggle' : '' " 
          [attr.data-toggle]="link.children != null ? 'dropdown' : null"
          [attr.aria-haspopup]="link.children != null ? 'true' : null"
          [attr.aria-expanded]="link.children != null ? 'false' : null"
          href="{{ link.url }}">{{ link.title }}</a>
        <div *ngIf="link.children != null" class="dropdown-menu">
          <a *ngFor="let subLinks of link.children" class="dropdown-item" href="{{ subLinks.url }}">{{ subLinks.title }}</a>
        </div>
      </li>
    </ul>
    <a href="#" class="btn btn-info">CONTACTENOS</a>
  </div>
</nav>